# Linux host path for Mosquitto configuration files.
# Example: /srv/docker-data/mosquitto/config
MOSQUITTO_CONFIG_PATH=<linux_path_to_mosquitto_config>
# Linux host path for Mosquitto persistent data.
# Example: /srv/docker-data/mosquitto/data
MOSQUITTO_DATA_PATH=<linux_path_to_mosquitto_data>
# Linux host path for Mosquitto log files.
# Example: /srv/docker-data/mosquitto/log
MOSQUITTO_LOG_PATH=<linux_path_to_mosquitto_logs>
