# Linux host path for TVHeadend recordings output.
# Example: /srv/docker-data/tvheadend/video
TVHEADEND_RECORDINGS_PATH=<linux_path_to_tvheadend_recordings>
# Linux host path for TVHeadend config data.
# Example: /srv/docker-data/tvheadend/config
TVHEADEND_CONFIG_PATH=<linux_path_to_tvheadend_config>
# Linux host path for OSCam config data.
# Example: /srv/docker-data/oscam/config
OSCAM_CONFIG_PATH=<linux_path_to_oscam_config>
# Linux host device path for Smargo reader.
# Example: /dev/smargo
SMARGO_DEVICE_PATH=<linux_path_to_smargo_device>
# Linux host USB bus path for OSCam device access.
# Example: /dev/bus/usb
USB_BUS_PATH=<linux_path_to_usb_bus>
