###############################################
# MARLIE STACK
###############################################
MARLIE_BAZARR_CONFIG_PATH=/path/to/marlie/bazarr/config
MARLIE_MOVIES_PATH=/path/to/marlie/movies
MARLIE_RADARR_CONFIG_PATH=/path/to/marlie/radarr/config
MARLIE_DOWNLOADS_PATH=/path/to/marlie/downloads
MARLIE_SABNZBD_CONFIG_PATH=/path/to/marlie/sabnzbd/config
MARLIE_DOWNLOADS_COMPLETED_PATH=/path/to/marlie/downloads/completed
MARLIE_DOWNLOADS_INCOMPLETE_PATH=/path/to/marlie/downloads/incomplete

###############################################
# DANNY STACK
###############################################
SONARR_CONFIG_PATH=/path/to/danny/sonarr/config
DANNY_SERIES_PATH=/path/to/danny/series
DANNY_MOVIES_PATH=/path/to/danny/movies
DANNY_MOVIES_2_PATH=/path/to/danny/movies2
DANNY_DOWNLOADS_PATH=/path/to/danny/downloads
DANNY_DOWNLOADS_COMPLETED_PATH=/path/to/danny/downloads/completed
DANNY_DOWNLOADS_INCOMPLETE_PATH=/path/to/danny/downloads/incomplete
DANNY_BAZARR_CONFIG_PATH=/path/to/danny/bazarr/config
DANNY_RADARR_CONFIG_PATH=/path/to/danny/radarr/config
DANNY_SABNZBD_CONFIG_PATH=/path/to/danny/sabnzbd/config

###############################################
# GLOBAL MEDIA / DOWNLOADS
###############################################
DOWNLOADS_PATH=/path/to/global/downloads
MUSIC_PATH=/path/to/music

###############################################
# PLEX
###############################################
PLEX_HOSTNAME=your-plex-hostname
PLEX_CONFIG_PATH=/path/to/plex/config
PLEX_MULTIMEDIA_PATH=/path/to/plex/multimedia
PLEX_EPG_FILE_PATH=/path/to/plex/epg.xml
PLEX_TRANSCODE_PATH=/path/to/plex/transcode
PLEX_CLAIM=your-plex-claim-token
ADVERTISE_IP=http://your-public-ip:32400

###############################################
# STEAM HEADLESS
###############################################
DBUS_PATH=/run/dbus
FUSE_DEVICE_PATH=/dev/fuse
UINPUT_DEVICE_PATH=/dev/uinput
STEAM_HOSTNAME=steam-headless
TZ=Europe/Amsterdam
USER_LOCALES=en_US.UTF-8 UTF-8
DISPLAY=:55
SHM_SIZE=8G
HOME_DIR=/path/to/steam/home
SHARED_SOCKETS_DIR=/path/to/steam/sockets
GAMES_DIR=/path/to/steam/games
PUID=0
PGID=100
UMASK=000
USER_PASSWORD=your-password
MODE=primary
WEB_UI_MODE=vnc
ENABLE_VNC_AUDIO=false
PORT_NOVNC_WEB=8083
NEKO_NAT1TO1=
ENABLE_STEAM=true
STEAM_ARGS=
ENABLE_SUNSHINE=false
SUNSHINE_USER=admin
SUNSHINE_PASS=admin
ENABLE_EVDEV_INPUTS=true
FORCE_X11_DUMMY_CONFIG=true
NVIDIA_DRIVER_CAPABILITIES=all
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_VERSION=
HOST_DBUS=true

###############################################
# MOSQUITTO
###############################################
MOSQUITTO_CONFIG_PATH=/path/to/mosquitto/config
MOSQUITTO_DATA_PATH=/path/to/mosquitto/data
MOSQUITTO_LOG_PATH=/path/to/mosquitto/log

###############################################
# QBITTORRENT
###############################################
QBITTORRENT_CONFIG_PATH=/path/to/qbittorrent/config

###############################################
# TRAEFIK / TRANSIP
###############################################
TRANSIP_ACCOUNT_NAME=your-transip-account
TRANSIP_PRIVATE_KEY_PATH=/path/to/transip.key
DOCKER_SOCKET_PATH=/var/run/docker.sock
TRAEFIK_STATIC_CONFIG_PATH=/path/to/traefik/traefik.yaml
TRAEFIK_DYNAMIC_CONFIG_PATH=/path/to/traefik/dynamic.yaml
TRAEFIK_ACME_PATH=/path/to/traefik/acme.json
TRAEFIK_FULLCHAIN_PATH=/path/to/traefik/fullchain.pem
TRAEFIK_PRIVKEY_PATH=/path/to/traefik/privkey.pem
TRAEFIK_TRANSIP_PATH=/path/to/traefik/transip

###############################################
# TVHEADEND / OSCAM
###############################################
TVHEADEND_RECORDINGS_PATH=/path/to/tvheadend/recordings
TVHEADEND_CONFIG_PATH=/path/to/tvheadend/config
OSCAM_CONFIG_PATH=/path/to/oscam/config
SMARGO_DEVICE_PATH=/dev/smargo
USB_BUS_PATH=/dev/bus/usb

###############################################
# FRIGATE
###############################################
LOCALTIME_PATH=/etc/localtime
FRIGATE_CONFIG_PATH=/path/to/frigate/config
FRIGATE_MEDIA_PATH=/path/to/frigate/media
FRIGATE_MQTT_USER=frigate
FRIGATE_MQTT_PASSWORD=your-frigate-mqtt-password

###############################################
# HOME ASSISTANT / MATTER SERVER
###############################################
HOMEASSISTANT_CONFIG_PATH=/path/to/homeassistant/config
MATTER_SERVER_DATA_PATH=/path/to/matter-server/data

###############################################
# MODBUS PROXY
###############################################
MODBUS_PROXY_CONFIG_PATH=/path/to/modbus-proxy.yml

###############################################
# MARIADB / SPOTWEB
###############################################
MARIADB_DATA_PATH=/path/to/mariadb/data
MARIADB_CUSTOM_CNF_PATH=/path/to/mariadb/my.cnf
MARIADB_ROOT_PASSWORD=your-mariadb-root-password

SPOTWEB_CONFIG_PATH=/path/to/spotweb/config
SPOTWEB_DB_HOST=your-db-host
SPOTWEB_DB_PORT=3306
SPOTWEB_DB_NAME=spotweb
SPOTWEB_DB_USER=spotweb
SPOTWEB_DB_PASS=your-spotweb-password

###############################################
# ZIGGO EPG GENERATOR
###############################################
PLEX_EPG_FILE_PATH=/path/to/ziggo/epg.xml
