# Linux host path for qBittorrent config data.
# Example: /srv/docker-data/qbittorrent
QBITTORRENT_CONFIG_PATH=<linux_path_to_qbittorrent_config>
# Linux host path for torrent downloads.
# Example: /srv/downloads
DOWNLOADS_PATH=<linux_path_to_downloads>
