# Linux host path for Sonarr config data.
# Example: /srv/docker-data/sonarr
SONARR_CONFIG_PATH=<linux_path_to_sonarr_config>
# Linux host path for TV series library.
# Example: /srv/media/series
SERIES_PATH=<linux_path_to_series_library>
# Linux host path for completed downloads.
# Example: /srv/downloads/completed
DOWNLOADS_COMPLETED_PATH=<linux_path_to_completed_downloads>
# Linux host path for Bazarr config data.
# Example: /srv/docker-data/bazarr/config
BAZARR_CONFIG_PATH=<linux_path_to_bazarr_config>
# Linux host path for movie library.
# Example: /srv/media/movies
MOVIES_PATH=<linux_path_to_movie_library>
# Linux host path for Radarr config data.
# Example: /srv/docker-data/radarr
RADARR_CONFIG_PATH=<linux_path_to_radarr_config>
# Linux host path for SABnzbd config data.
# Example: /srv/docker-data/sabnzbd
SABNZBD_CONFIG_PATH=<linux_path_to_sabnzbd_config>
# Linux host path for incomplete downloads.
# Example: /srv/downloads/incomplete
DOWNLOADS_INCOMPLETE_PATH=<linux_path_to_incomplete_downloads>
